---
import Barra from "../components/barra.astro"
import '../components/styles.css';
---
<Barra></Barra>
<html>
<body>
  <div class="container">
      <h1 >Pilotos de F1</h1>
      <div id="drivers-2024" class="driver-list">
          <h2 >Pilotos de 2024</h2>
      </div>
      <div id="drivers-2023" class="driver-list" style="margin-bottom: 40px;">
          <h2>Pilotos de 2023</h2>
      </div>
      <div  id="drivers-2022" class="driver-list">
          <h2>Pilotos de 2022</h2>
      </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script >const fetchDrivers = async (year) => {
    const response = await fetch(`http://ergast.com/api/f1/${year}/drivers.json`);
    const data = await response.json();
    return data.MRData.DriverTable.Drivers;
};

const fetchDriverDetails = async (driverId) => {
    const response = await fetch(`https://ergast.com/api/f1/drivers/${driverId}.json`);
    const data = await response.json();
    return data;
};

const displayDrivers = async () => {
    const years = [2024, 2023, 2022];
    for (let year of years) {
        let drivers = await fetchDrivers(year);
        const driversContainer = document.getElementById(`drivers-${year}`);
        for (let driver of drivers) {
            let driverDetails = await fetchDriverDetails(driver.driverId);
            let driverDiv = document.createElement('div');
            driverDiv.className = 'driver';
            driverDiv.innerHTML = `
                <img style="width: 70%; height: auto; border-radius: 5px;" src="src/images/Drivers/${driver.driverId}.jpg" alt="${driver.givenName} ${driver.familyName}">
                <h3>${driver.givenName} ${driver.familyName}</h3>
                <p>Fecha de Nacimiento: ${driver.dateOfBirth}</p>
                <p>Nacionalidad: ${driver.nationality}</p>
            `;
            driversContainer.appendChild(driverDiv);
        }
    }
};

displayDrivers();
</script>
</body>
</html>

