---
import { Image } from 'astro:assets';
import Fernando from "../../src/images/fernando-alonso-aston-martin_98.jpg";
import Barra from "../components/barra.astro";
import MinuaturAD from "../../src/images/miniatura/abu_dhabi.jpg"
import miniaturaGJ from "../../src/images/miniatura/Grosjeans_the_man_on_fire.jpg";
import "../../src/components/carrera.css"
---
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="generator" content={Astro.generator}>
    <title>F1 unofficial page</title>
</head>
<body>
    <Barra />
</body>

<body>
<div style="position: relative;">
    <Image class='fernando' src={Fernando} alt="El nano" />
    <p style="position: absolute; top: 290px; left: 599px; color: rgb(255, 255, 255); font-size: 75px;">
      Welcome
    </p>
</div>
    
<div>
    <h1></h1>
</div>

<div> 
    <a href="https://www.youtube.com/watch?v=7YMjw2sjXqU">
    <Image src={miniaturaGJ} class="gj" alt="grosjean" style="width: 620px; height: 325px; position: relative; left: 815px; top: 39px;"></Image>
    </a>
</div>
<div> 
    <a href="https://www.youtube.com/watch?v=7QJ-N-AQJYc&t">
    <Image src={MinuaturAD} class="abu_dhabi" alt="abu dhabi" style="width: 620px; height: 325px; position: relative; left: 50px; top: -290px;"></Image>
    </a>
</div>


<div class="zapatos">
    <div class="text">¡Los Mejores Momentos De la Final De Formula 1 En Abu Dhabi!<br>Una de las finales mas reñida de la formula uno en 2021 en abu dhabi para ver haga click en la foto<br>
        en donde Hamilton y Verstappen estaban empatado con 370,5 puntos, en esta final reñida se vio quien se merecio !SU CAMPEONATO MUNDIAL!
    </div>
<div class="zapatos.square" style="width: 620px; height: 500px; position: relative; left: 765px; top: 0px; background-color: #000000;" >
    <div class="text">!OH DIOS MIO, HAY FUEGO!<br>Que haya fuego en accidente es preucupante pero<br>
        !EL COCHE SE HAYA PARTIDO A LA MITAD! eso si es mas preucupante<br>revisa la Historia de Romain Grosjean en 2020 apretando en la foto
    </div>
    </div>
</div>
</body>

<body>
    <div class="container">
        <h1>Resultado de la ultima carrera de F1</h1>
        <div id="results" class="result-list"></div>
    </div>
    <script>
        let results;

fetch('https://ergast.com/api/f1/current/last/results.json')
    .then(response => response.json())
    .then(data => {
        results = data.MRData.RaceTable.Races;
        displayResults(results);
    });

const fetchDriverDetails = (driverId) => {
    return fetch(`https://ergast.com/api/f1/drivers/${driverId}.json`)
        .then(response => response.json())
        .then(data => {
            return data.MRData.DriverTable.Drivers[0];
        });
}


const displayResults = async (results) => {
    const resultsContainer = document.getElementById('results');
    for (let race of results) {
        for (let result of race.Results) {
            let driverDetails = await fetchDriverDetails(result.Driver.driverId);
            let resultDiv = document.createElement('div');
            resultDiv.className = 'result';
            resultDiv.innerHTML = `
                <h3>${race.raceName} - ${result.position}</h3>
                <p>Piloto: ${driverDetails.givenName} ${driverDetails.familyName}</p>
                <p>Fecha de Nacimiento: ${driverDetails.dateOfBirth}</p>
                <p>Nacionalidad: ${driverDetails.nationality}</p>
                <p>Constructor: ${result.Constructor.name}</p>
                <p>Vueltas: ${result.laps}</p>
                <p>Tiempo: ${result.Time ? result.Time.time : 'N/A'}</p>
            `;
            resultsContainer.appendChild(resultDiv);
        }
    }
}

    </script>

</body>
</html>

<style> 
h1 {
    text-align: center;
    margin-top: 20px;
}

.container {
    width: 80%;
    margin: 0 auto;
}
h1 {
    text-align: center;
    margin-top: 20px;
}
.result-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.result {
    background-color: white;
    margin: 10px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}


.patata{
    position: relative;
    left: 300px;
    top: -870px;
    font-size: 30px;
}

.zapatos {
    width: 620px;
    height: 500px;
    position: relative;
    left: 50px;
    top: -300px;
    background-color: #000000;
}

ul li {
    display: inline;
    position: relative;
    top: -878px;
    left: 250px;
    font-size: 25px;
}


/* Media query para pantallas más pequeñas */
@media (max-width: 768px) {
    .zapatos,
    .zapatos.square {
        width: 100%; /* Otra opción es usar porcentajes */
        height: auto; /* Para mantener la proporción */
        left: 0;
        top: 0;
    }
}



.text {
    position: absolute;
    top: 50%;
    left: 35%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 25px;
    font-weight: bold;
}



div p{
    max-width: 100%;
    height: auto;
    font-size: 100px;
    
}
.fernando {
    max-width: 100%;
    height: auto;
    filter: brightness(50%);
}


</style>