---
import Barra from "../components/barra.astro";
import { Image } from "astro:assets";
import checo from "../../src/images/Seasons/checo.jpg";
import "../components/season.css"


---
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="generator" content={Astro.generator}>
    <title>F1 unofficial page</title>
</head>
<Barra />

<div>
    <Image src={checo} alt="checo pere" height={1000}/>
    <p style="position: absolute; top: 40%; left: 40%; height: auto; color: rgb(255, 255, 255); font-size: 75px;">
      Season
    </p>
</div>


<body>
    <div class="container">
        <h1>Clasificación de Pilotos de F1 2024</h1>
        <div id="standings" class="standing-list"></div>
    </div>
    <script>
        let standings;

fetch('https://ergast.com/api/f1/current/driverStandings.json')
    .then(response => response.json())
    .then(data => {
        standings = data.MRData.StandingsTable.StandingsLists[0].DriverStandings;
        displayStandings(standings);
    });

const fetchDriverDetails = (driverId) => {
    return fetch(`https://ergast.com/api/f1/drivers/${driverId}.json`)
        .then(response => response.json())
        .then(data => {
            return data.MRData.DriverTable.Drivers[0];
        });
}

const displayStandings = async (standings) => {
    const standingsContainer = document.getElementById('standings');
    for (let standing of standings) {
        let driverDetails = await fetchDriverDetails(standing.Driver.driverId);
        let standingDiv = document.createElement('div');
        standingDiv.className = 'standing';
        standingDiv.innerHTML = `
            <h3>${driverDetails.givenName} ${driverDetails.familyName}</h3>

            <p>Posición: ${standing.position}</p>
            <p>Puntos: ${standing.points}</p>
            <p>Nacionalidad: ${driverDetails.nationality}</p>
            <p>Constructor: ${standing.Constructors[0].name}</p>
        `;
        standingsContainer.appendChild(standingDiv);
    }
}

    </script>
</body>






<style>
  div p{
      max-width: 100%;
      height: auto;
      font-size: 100px;
  }
  img {
      max-width: 100%;
      height: auto;
      filter: brightness(50%);
  }

  </style>